h4 {
    font-size: 19px;
    font-weight: 700;
}

.card-note {
    font-size: 16px;
}

.card-link {
    font-size: 14px;
}

.section-note {
    font-size: 16px;
}

.api-line {
    font-size: 12px;
}

.small {
    font-size: 13px;
}

.status {
    font-size: 13px;
}

.tooltip {
    font-size: 13px;
}

.popup-title {
    font-size: 16px;
    font-weight: 700;
}

th {
    font-size: 13px;
    font-weight: 700;
}

td {
    font-size: 13px;
}
