[submodule "external/nuklear"]
	path = external/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "external/plutosvg"]
	path = external/plutosvg
	url = https://github.com/sammycage/plutosvg.git
[submodule "external/ionicons"]
	path = external/ionicons
	url = https://github.com/ionic-team/ionicons.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/lcui"]
	path = external/lcui
	url = https://github.com/lc-soft/LCUI.git
[submodule "external/tinycss"]
	path = external/tinycss
	url = https://github.com/ihsan6133/tiny.css.git
[submodule "external/simplecss"]
	path = external/simplecss
	url = https://github.com/kevquirk/simple.css
[submodule "external/onlay"]
	path = external/onlay
	url = https://github.com/Alpaq92/Onlay.git
