[submodule "third_party/nuklear"]
	path = third_party/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "third_party/plutosvg"]
	path = third_party/plutosvg
	url = https://github.com/sammycage/plutosvg.git
[submodule "third_party/ionicons"]
	path = third_party/ionicons
	url = https://github.com/ionic-team/ionicons.git
[submodule "third_party/open-color"]
	path = third_party/open-color
	url = https://github.com/yeun/open-color.git
[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "third_party/lcui"]
	path = third_party/lcui
	url = https://github.com/lc-soft/LCUI.git
[submodule "third_party/tinycss"]
	path = third_party/tinycss
	url = https://github.com/ihsan6133/tiny.css.git
